<h1 class="title">New User</h1>

<%= form_with model: @user, local: true, html: { class: 'box' } do |form| %>
  <% if @user.errors.any? %>
    <div class="notification is-danger">
      <h2 class="subtitle"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label"><%= form.label :name %></label>
    <div class="control">
      <%= form.text_field :name, class: 'input' %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit class: 'button is-link' %>
    </div>
  </div>
<% end %>
